/* Global styles */

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0 auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.content-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 90px 50px;
  overflow: auto;
}
.inline-block{
  display: inline-block;
}
a {
  text-decoration: none;
}

/* HEADER */
.header-wrapper{
  padding-top: 25px;
  padding-bottom: 10px;
}
#logo{
  width: 50%;
  padding-bottom: 15px;

}
#nav{
  background-color: darkgray;
  position: fixed;
  top:0;
}
.links a{
  padding: 20 35;
  margin-top: 0px;
  font-size: 25px;
  border-left: 1px solid gray;
}
.links a:hover{
  background: cyan;
  /* border-radius: 10px; */

}


.center {
  text-align: center;
}

#contact {
  margin-top: -25px;
}

/* Page middle */

.order-form {
  background-color: white;
}

.track-order {
  background-color: darkgray;
  min-height: 300px;
  margin: 0 auto;
}

/* FOOTER */

footer {
  color: white;
  background-color: #02020B;
  text-align: center;
}

footer i {
  font-size: 26px;
  color: white;
}

footer a {
  color: aqua
}

#love::before {
  content: '\2665';
}

#love {
  color: red;
  font-size: 20px;
}